body, html {
    overflow-x: hidden; /* Får bort irriterande horisontell scrolling */
}
body{
margin: 0;
overflow: visible;
background-color: #fff6d4 ;
}

.header{
    background-color: #ffd15b;
    padding: 25px;
    font-size: 20px;
    font-family: fashion ,'Roboto', sans-serif;
    justify-content: space-between;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999; 
}
.header img{
    width: 120px;
    height: 120px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 40px;
    justify-items: center;
}



@keyframes fadeInUp {
    0% {
        transform: translateY(30px); 
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Placera texten i botten */
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0; 
    animation: fadeInUp 0.8s ease forwards;
    font-family: fashion;
}
.product-text {
    font-size: 0.5em;
    margin-top: 20px; /* Lägger till lite utrymme mellan bilden och texten */
}


.product-container:nth-child(1) { animation-delay: 0.1s; }
.product-container:nth-child(2) { animation-delay: 0.2s; }
.product-container:nth-child(3) { animation-delay: 0.3s; }
.product-container:nth-child(4) { animation-delay: 0.4s; }
.product-container:nth-child(5) { animation-delay: 0.5s; }
.product-container:nth-child(6) { animation-delay: 0.6s; }
.product-container:nth-child(7) { animation-delay: 0.7s; }
.product-container:nth-child(8) { animation-delay: 0.8s; }
.product-container:nth-child(9) { animation-delay: 0.9s; }
.product-container:nth-child(10) { animation-delay: 1s; }
.product-container:nth-child(11) { animation-delay: 1.1s; }
.product-container:nth-child(12) { animation-delay: 1.2s; }
.product-container:nth-child(13) { animation-delay: 1.3s; }
.product-container:nth-child(14) { animation-delay: 1.4s; }
.product-container:nth-child(15) { animation-delay: 1.5s; }
.product-container:nth-child(16) { animation-delay: 1.6s; }
.product-container:nth-child(17) { animation-delay: 1.7s; }
.product-container:nth-child(18) { animation-delay: 1.8s; }
.product-container:nth-child(19) { animation-delay: 1.9s; }
.product-container:nth-child(20) { animation-delay: 2s; }



.product-container img {
    width: 200px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.product-container h2 {
    margin: 10px 0 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: rgb(60, 60, 60);
}

.product-container:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.product-text {
    margin-top: auto; /* Tvinga texten till botten */
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
    }
    .header img {
        margin: 0 auto;
    }

    .product-grid {
        grid-template-columns: 1fr; /* En kolumn för mindre skärmar */
        gap: 10px;
    }

    .product-container {
        width: 90%; /* Gör containern mindre och centrerad */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr); /* Två kolumner för surfplattor */
    }

    .product-container {
        width: 80%;
    }
}

@font-face {
    font-family: fashion;
    src: url('fashion_wacks/FashionWacks-Regular.ttf');
}
.footer-bar {
    max-width: 100vw;   
    width: 100%;            
    background-color: #ffd15b;
    color: #333;
    padding: 20px 20px;      
    box-sizing: border-box;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;     

}
.footer-bar p {
    font-family: fashion;
    font-size: 1.2rem;
    margin: 0;
}


.footer-logo     {
    width: 150px;
    height: auto;
    margin-right: 10px; 
}
a {
    text-decoration: none;
    color: #6e4021; 
    font-family: fashion;
    font-size: 2rem;
    margin-left: 10px; 
}